<button class="menu-trigger" data-action="show">&nbsp;<span></span><span></span><span></span></button>
<button data-action="next_episode" class="yellow">次話</button>
<button data-action="end" class="update">文末</button>
<button data-action="next" class="blue">次ページ</button>
<button data-action="index" class="index">目次</button>
<button data-action="prev" class="blue">前ページ</button>
<button data-action="first" class="update">文頭</button>
<button data-action="prev_episode" class="yellow">前話</button>
<div data-action="panel">
  <button data-action="url" class="goto">URL</button>
  <button data-action="oepn" class="blue">ファイルを開く</button>
  <button data-action="favorite" class="delete">お気に入り</button>
  <button data-action="config" class="update">設定</button>
  <div class="url"><a data-action="top_page" href="./index.html">TxtMiru App __PACKAGE_VERSION__</a></div>
  <div class="url"><a data-action="cur_page_url" id="cur_page_url" href="."></a></div>
</div>
