:host {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  text-align: center;
  z-index: 4;
  font-size: 1.8rem;

  .inner {
    max-width: calc(100svw - 100px);
    word-break: break-all;

    div {
      padding: 5px 9px 5px 5px;
    }
  }
}
