<div id="container" class="inner hide">
  <header>
    <button data-action="regist">追加</button>
    <button data-action="delete" class="delete">削除</button>
    <button data-action="update" class="update">更新を確認</button>
    <button data-action="continue" class="goto">続きから</button>
    <button data-action="first" class="index">目次</button>
    <button data-action="close" class="blue">閉じる</button>
  </header>
  <div class="sticky_table">
    <table id="novel_list">
      <thead id="novel_list_head">
        <tr>
          <th>
            <div name="list_no">#</div>
          </th>
          <th>
            <div name="page">ページ</div>
          </th>
          <th>
            <div name="title">
              <div name="new" class="updated" style="display:inline">New</div>タイトル
            </div>
            <div name="author">著者</div>
          </th>
          <th>
            <div name="site">掲載</div>
          </th>
        </tr>
      </thead>
      <tbody id="novel_list_body"></tbody>
    </table>
  </div>
</div>
