body.dark {
  --background: #303030;
  --menu-background-color: rgb(56, 56, 56);
  --track-color: #555045be;
  --chapter-color: #d1cfcf;
  --chapter-bk-color: #555045be;
  --page-effect-color: #0008;
  --text-color: rgb(216, 209, 189);
  --link-color: rgb(123, 147, 255);/*rgb(45, 56, 100);*/
  --pager-link-color: #3c454e;
}
