<div class="inner">
  <dl>
    <dt>テキストファイルまたはHTMLファイルを選択してください。</dt>
    <dd>
      <hr>
      <input type="file" id="local-file">
      <div id="folder-area">
        <label><input type="checkbox" id="local-file-folder">フォルダ単位で読み込み</label>
      </div>
    </dd>
  </dl>
  <label><input type="radio" id="aozora" name="type" value="aozora" checked>青空文庫形式</label>
  <label><input type="radio" id="narou" name="type" value="narou">小説家になろう形式</label>
  <hr>
  <div id="message" style="color: red;"></div>
  <button data-action="close">閉じる</button>
</div>
