@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap");

:root {
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
  --font-feature-settings: "vchw", "vkrn";
  --background: #f7f6eb;
  --menu-background-color: #e7e7dae3;
  --track-color: #e3e4d4;
  --chapter-color: #000;
  --chapter-bk-color: #eeeee2;
  --page-effect-color: #0002;
  --text-color: black;
  --link-color: rgb(69, 90, 184);
  --pager-link-color: #e9e5d4;
}

html,
body {
  padding: 0;
  margin: 0;
  position: absolute;
  -webkit-text-size-adjust: 100%;
  font-variant-east-asian: jis78;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

/* iPhoneの為の処理
https://github.com/klmkyo/ios-safari-restore-meta-theme-color
 */
.topbar,
.bottombar {
  pointer-events: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.topbar {
  top: 4px;
  width: 89%;
  height: 11px;
  display: block;
  /* Rainbow effect disabled for clarity, static color used instead */
  background: var(--background);
  /* Hack to style the browser UI while making it invisible to the user */
  mask-image: linear-gradient(to right, transparent, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, transparent);
}

.bottombar {
  bottom: 3px;
  width: 89%;
  height: 11px;
  display: block;
  /* Rainbow effect disabled for clarity, static color used instead */
  background: var(--background);
  ;
  /* Hack to style the browser UI while making it invisible to the user */
  mask-image: linear-gradient(to right, transparent, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, transparent);
}

:focus {
  outline: none;
}

#TxtMiruTopContents {
  display: none;
}

main {
  &.TxtMiru {
    position: fixed;
    top: var(--sat);
    left: 0;
    margin: 0;
    padding: 2.25rem 0 0.2rem;
    box-sizing: border-box;
    bottom: var(--sab);
    width: 100dvw;
    background: var(--background);
    overflow-x: scroll;
    overflow-y: hidden;
    /*font*/
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: "Hiragino Mincho ProN", "Noto Serif JP", serif;
    font-display: swap;
    color: var(--text-color);
    scrollbar-color: var(--track-color) var(--background);

    &::focus {
      outline: none;
    }

    .chapter_title {
      color: var(--chapter-color);
      background-color: var(--chapter-bk-color);
    }
  }

  &.bottom_menu {
    padding: 0.5rem 0;
    bottom: max(2.5rem, calc(var(--sab) + 1rem));
  }

  &.zoom_p2 {
    font-size: 1.75rem;
  }

  &.zoom_p1 {
    font-size: 1.35rem;
  }

  &.zoom_m1 {
    font-size: 1.0rem;
  }
}


#contents {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: var(--contents-font, "Hiragino Mincho ProN", "Noto Serif JP", serif);
  font-display: swap;
  height: 100%;
  /* 折り返し設定 */
  word-break: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: strict;
  hanging-punctuation: allow-end;
  hyphens: auto;

  & a {
    color: var(--link-color);
  }

  & img {
    max-height: 100%;
    width: auto !important;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

#contents.contents a,
a:visited {
  color: var(--link-color);
}

ruby[data-ruby] {
  position: relative;
  line-height: 0.1;
  display: inline-block;
}

ruby[data-ruby]::after {
  content: attr(data-ruby);
  position: absolute;
  white-space: nowrap;
  line-height: 100%;
  text-align: center;
  top: -20em;
  bottom: -20em;
  transform-origin: center right;
  /* ルビの文字サイズを親文字に対する比率で指定 */
  transform: translate3d(1em, 0, 0) scale(0.5);
  /* 100%を越える部分が親文字とルビとのスペースになる。単位は親文字に対する比率 */
  /*right: 105%;*/
  /* デバッグ用 */
  /*background-color: rgba(255, 0, 0, 0.2);*/
  letter-spacing: 0em;
}

ruby[rt-spacing]::after {
  letter-spacing: var(--rt-letter-spacing);
  margin-top: var(--rt-margin-top);
  margin-bottom: var(--rt-margin-bottom);
  /*background-color: rgba(255, 255, 0, 0.2);*/
}

ruby[rt-emphasis]::after {
  letter-spacing: var(--rt-letter-spacing);
  margin-top: var(--rt-margin-top);
  margin-bottom: var(--rt-margin-bottom);
  transform: translate3d(1em, 0, 0) scale(0.4);
}

ruby[data-ruby] rt {
  display: none;
}

.dakuten {
  position: relative;
  display: inline-block;
}

.dakuten::after {
  content: '';
  position: absolute;
  mask-image: url(/assets/dakuten.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  right: 0.3em;
  width: 0.23em;
  height: 0.23em;
  top: 0.1em;
  background-color: currentColor;
  pointer-events: none;
}

.prev-episode,
.next-episode {
  position: relative;
  font-size: 0.8em;
  height: 100%;
  background: #18b7cd;
  padding-top: 5.5vh;
  padding-bottom: 5.5vh;
  padding-right: 0.8em;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;

  &:before {
    display: inline-block;
    position: relative;
    content: "";
    background: url(/assets/hishigata.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .6;
    width: 1em;
    height: 1em;
    padding-bottom: .5em
  }
}

.prev-episode {
  padding-left: 0.8em;
  margin-left: 1em;
  margin-right: -1px;
}

.next-episode {
  padding-left: 10vw;
  min-width: 2rem;
  width: 10vw;
  margin-right: 90vw;
}

.prev-episode a,
.next-episode a {
  color: #f3f3f8 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.txtmiru_pager {
  padding: 1rem 2px;
  margin-bottom: 1rem;
  color: var(--text-color) !important;
  background-color: var(--pager-link-color);
  text-decoration: none !important;
}

/**/
.TxtMiruTop,
p {
  margin: 0;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-ideograph;
  font-feature-settings: var(--font-feature-settings);
  line-break: strict;
  hanging-punctuation: force-end;
}

.TxtMiruTop {

  .novel_title,
  .chapter_title {
    padding: 0.8em 1.2em 0;
    /* 上 左右 下0 */
    font-weight: bold;
  }

  .novel_title {
    font-size: 1.2em;
  }

  .chapter_title {
    background: var(--chapter-bk-color);
  }

  .novel_sublist {
    border-left: 1px solid var(--chapter-bk-color);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  table td,
  table th {
    border: 1px solid var(--chapter-bk-color);
    padding: 6px 13px;
  }

  a {
    text-decoration: none !important;
  }
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;

  .tatechuyoko_top {
    display: inline-block;
  }

  .tatechuyoko {
    text-combine-upright: all;
  }

  .yakumono_spacing {
    letter-spacing: -0.5em;
  }

  a {
    text-decoration: overline;
  }

  .sideways_date {
    writing-mode: sideways-rl;
  }
}

/**/
@keyframes fadeOutLight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#TxtMiruPageEffect {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--page-effect-color);
  color: white;
  display: none;
  z-index: 9999999;

  &.fadeInAnime1,
  &.fadeInAnime2 {
    animation: fadeOutLight 2s forwards;
    opacity: 0;
  }
}

.TxtMiruTopContentsHistory .novel_sublist {
  display: list-item;
  list-style: cjk-ideographic;
  margin-top: 1.3em;

  &.index {
    display: block;
  }
}

#TxtMiruTopContentsLocalHistoryList.hide,
#TxtMiruTopContentsHistoryList.hide,
.TxtMiruTopContentsHistory .hide {
  display: none;
}

.TxtMiruTopContentsHistory .novel_sublist a {
  text-decoration: none !important;
}

/**/

.Narou {

  #novel_header,
  #pageBottom,
  #recommend,
  #footer,
  #pageTop,
  #impression,
  form,
  .box_announce_bookmark,
  .toaster,
  .narou_modal,
  .footerbookmark,
  .c-announce-box,
  .c-menu,
  .c-modal,
  .c-navigater,
  .c-toast,
  .l-footer,
  .p-novelgood-form,
  .p-finish-read,
  .p-novelpoint-form__note,
  .novel_hyouka,
  .p-new-impression__manage,
  .p-bookmark-bar,
  .p-reaction {
    display: none;
  }

  .novel_title {
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
  }

  .contents1 {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    text-align: right;

    a:first-child {
      text-align: left;
      display: block;
    }

    .chapter_title {
      margin-right: 1.2em;
    }
  }

  .novel_writername {
    text-align: right;
    font-weight: bold;
  }

  .chapter_title {
    padding-top: 0.8em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    color: var(--chapter-color);
    background: var(--chapter-bk-color);
  }

  #novel_contents .novel_subtitle {
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-weight: bold;
  }

  dl.novel_sublist2 {
    border-left: 1px solid var(--chapter-bk-color);
  }

  ul.subtitles {
    padding: 0;
  }

  .subtitles li.chapter,
  .p-eplist__chapter-title {
    margin-top: 0;
    padding: 1em 1em 0 1em;
    font-weight: bold;
    padding-top: 0.8em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    color: var(--chapter-color);
    background: var(--chapter-bk-color);
  }

  .subtitles li,
  .p-eplist__sublist {
    list-style-type: none;
    margin-top: 2em;
    margin-right: 2px;
    border-right: 1px solid var(--chapter-bk-color)
  }

  .subtitles li a,
  a.p-eplist__subtitle,
  a:has(h1.title) {
    text-decoration: none !important;
  }

  .subtitles li .long_update,
  .p-eplist__update {
    text-align: right;
    display: block;
  }

  .novel_bn {
    margin-right: 1.2em;
  }

  .novel_view {
    margin-right: 4em;
  }

  #novel_ex {
    margin: 0;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: var(--font-feature-settings);
    line-break: strict;
    hanging-punctuation: force-end;
  }

  .c-pager__item {
    color: var(--text-color) !important;
    padding: 1em 2px;
    margin-bottom: 1em;
    background-color: var(--pager-link-color);
    text-decoration: none;
  }

  .p-novel__text--afterword, .l-foot-contents {
    border: 1px solid var(--text-color);
    margin: 0 1rem;
    padding: 0.5rem;
  }
}

/**/

.Kakuyomu {

  [id^="work-ad-"],
  [id^="globalHeaderPC-"],
  [id$="-modalContainer"],
  #episodeFooter,
  #author-information-followButton,
  #userProfile-actionButtons,
  #modal-userBlock,
  #workFollow,
  #reviews,
  #workInformationAside,
  #signUpBalloon,
  #workMeta,
  .js-viewer-globalheader,
  .widget-workReview-reviewMeta,
  .contentMain-pagerArrow,
  .widget-internalLinks,
  .ui-truncateTextButton-expandButton,
  .RegularMediaGlobalHeader_regularGlobalHeader__hFOw3,
  .Button_button__kcHya,
  .ModelessMessageBox_isRegular__aFp9H {
    display: none !important;
  }

  text-align: justify;

  .widget-episodeTitle {
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-weight: bold;
  }

  #workTitle {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
  }

  #workAuthor {
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
  }

  .kakuyomu_title {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
  }

  .widget-toc-episode {
    border-left: 1px solid var(--chapter-bk-color);
  }

  .widget-toc-items {
    list-style: none;
  }

  .widget-toc-episode-datePublished {
    display: block;
    text-align: right;
    color: var(--chapter-color);
    text-decoration: none;
    text-orientation: sideways;
  }

  .emphasisDots {
    font-style: normal;

    span {
      position: relative;
      display: inline-block;
      line-height: 0.1;

      &::after {
        content: "﹅";
        position: absolute;
        white-space: nowrap;
        line-height: 100%;
        text-align: center;
        top: -20em;
        bottom: -20em;
        letter-spacing: 0em;
        transform-origin: center right;
        transform: translate3d(0.95em, 0.125em, 0) scale(0.4);
      }
    }
  }

  .subtitles li {
    list-style-type: none;
    border-right: 1px solid var(--chapter-bk-color);

    &.chapter {
      margin-top: -2em;
      padding: 1em 1em 0 1em;
      font-weight: bold;
      padding-top: 0.8em;
      padding-right: 1.2em;
      padding-left: 1.2em;
      font-weight: bold;
      color: var(--chapter-color);
      background: var(--chapter-bk-color);
    }

    a {
      text-decoration: none !important;
    }

    .long_update,
    .sideways_date {
      text-align: right;
      display: block;
    }
  }
}

/**/

.Aozora {
  .main_text {
    margin: 0;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: var(--font-feature-settings);
    line-break: strict;
    hanging-punctuation: force-end;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  table {
    table-layout: fixed;
  }

  form {
    display: none;
  }

  .midashi_anchor {
    text-decoration: none;
  }

  em {
    font-style: normal;
  }

  .sesame_dot {
    -webkit-text-emphasis: filled sesame;
    text-emphasis: filled sesame;
  }

  .white_sesame_dot {
    -webkit-text-emphasis: open sesame;
    text-emphasis: open sesame;
  }

  .black_circle {
    -webkit-text-emphasis: filled circle;
    text-emphasis: filled circle;
  }

  .white_circle {
    -webkit-text-emphasis: open circle;
    text-emphasis: open circle;
  }

  .black_up-pointing_triangle {
    -webkit-text-emphasis: filled triangle;
    text-emphasis: filled triangle;
  }

  .white_up-pointing_triangle {
    -webkit-text-emphasis: open triangle;
    text-emphasis: open triangle;
  }

  .bullseye {
    -webkit-text-emphasis: open double-circle;
    text-emphasis: open double-circle;
  }

  .fisheye {
    -webkit-text-emphasis: filled double-circle;
    text-emphasis: filled double-circle;
  }

  .saltire {
    -webkit-text-emphasis: '×';
    text-emphasis: '×';
  }

  .sesame_dot_after {
    -webkit-text-emphasis: filled sesame;
    text-emphasis: filled sesame;
  }

  .white_sesame_dot_after {
    -webkit-text-emphasis: open sesame;
    text-emphasis: open sesame;
  }

  .black_circle_after {
    -webkit-text-emphasis: filled circle;
    text-emphasis: filled circle;
  }

  .white_circle_after {
    -webkit-text-emphasis: open circle;
    text-emphasis: open circle;
  }

  .black_up-pointing_triangle_after {
    -webkit-text-emphasis: filled triangle;
    text-emphasis: filled triangle;
  }

  .white_up-pointing_triangle_after {
    -webkit-text-emphasis: open triangle;
    text-emphasis: open triangle;
  }

  .bullseye_after {
    -webkit-text-emphasis: open double-circle;
    text-emphasis: open double-circle;
  }

  .fisheye_after {
    -webkit-text-emphasis: filled double-circle;
    text-emphasis: filled double-circle;
  }

  .saltire_after {
    -webkit-text-emphasis: '×';
    text-emphasis: '×';
  }

  .jisage {
    margin-top: var(--jisage);
  }

  .burasage {
    margin-top: var(--burasage);
    text-indent: var(--burasage-turn);
  }

  .jizume {
    width: var(--jizume);
  }

  .chitsuki {
    text-align: right;
    margin-bottom: var(--chitsuki);
  }

  .chitsuki-float {
    text-align: right;
    margin-bottom: var(--chitsuki);
    float: right;
  }

  .underline_solid {
    text-decoration: underline;
  }

  .underline_double {
    text-decoration: underline;
    text-decoration-style: double;
  }

  .underline_dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .underline_dashed {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .underline_wave {
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  .overline_solid {
    border-right: solid;
  }

  .overline_double {
    border-right: double;
  }

  .overline_dotted {
    border-right: dotted;
  }

  .overline_dashed {
    border-right: dashed;
  }

  .overline_wave {
    padding-right: 4px;
    background-image:
      linear-gradient(225deg, transparent 35%, var(--chapter-color) 50%, transparent 65%),
      linear-gradient(315deg, transparent 35%, var(--chapter-color) 50%, transparent 65%);
    background-size: 5px 10px;
    background-position: calc(100% - 2px) 0px, calc(100% - 2px) 5px;
    background-repeat: repeat-y;
  }

  .futoji {
    font-weight: bold;
  }

  .shatai {
    font-style: italic;
    font-family: Times New Roman, "ＭＳ Ｐゴシック";
  }

  ruby.ruby-under {
    ruby-position: under;
  }

  .keigakomi {
    border: 1px solid var(--chapter-color);
  }

  .dai1 {
    font-size: large;
  }

  .dai2 {
    font-size: x-large;
  }

  .dai3,
  .dai4,
  .dai5 {
    font-size: xx-large;
  }

  .sho1 {
    font-size: small;
  }

  .sho2 {
    font-size: x-small;
  }

  .sho3,
  .sho4,
  .sho5 {
    font-size: xx-small;
  }

  .contents1 .chapter_title {
    margin-bottom: 1.2em;
  }

  .novel_writername {
    text-align: right;
    font-weight: bold;
  }

  .chapter_title {
    padding-top: 0.8em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    background: var(--chapter-bk-color);
  }

  .chapter_title a,
  .subtitle a,
  a:has(h1.title) {
    text-decoration: none !important;
  }

  #novel_contents .novel_subtitle {
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-weight: bold;
  }

  dl.novel_sublist2 {
    border-left: 1px solid var(--chapter-bk-color);
  }
}

/**/

.Alphapolis {

  .appeal-point,
  .content-tags,
  .counter,
  .head,
  .latest-episode-comments-form,
  .like-area,
  .login-form,
  .nav,
  .overlay-close,
  #login-over-lay-bg,
  #loading-overlay,
  #recommend-items {
    display: none;
  }

  #contents,
  #novelBoby {
    margin: 0;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: var(--font-feature-settings);
    line-break: strict;
    hanging-punctuation: force-end;
  }

  h1.title,
  h2.title {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
  }

  h2.episode-title {
    font-size: 1.1em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-weight: bold;
  }

  .author {
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
  }

  .episode {
    border-left: 1px solid var(--chapter-bk-color);
  }

  .open-date {
    display: block;
    text-align: right;
  }
}

/**/

.Akatsuki {

  #contents-inner2>p,
  a[href*="#"],
  a[href*="twitter"] {
    display: none;
  }

  h1,
  #LookNovel {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    display: block;
  }

  .body-novel {
    margin: 0;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: var(--font-feature-settings);
    line-break: strict;
    hanging-punctuation: force-end;
  }

  .author {
    display: block;
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
  }
}

/**/

.TxtMiruCache {
  p {
    white-space: pre-wrap;
    min-width: 1.7em;
  }

  em {
    font-style: normal;
  }
}

/**/

.TxtMiruCacheWeb {
  ul.subtitles>li {
    list-style-type: none
  }

  ul.subtitles>li.chapter {
    font-weight: bold;
  }
}

/**/

.Pixiv {
  .title {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
    display: block;
  }

  .author {
    display: block;
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
  }

  #contents {
    margin: 0;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: var(--font-feature-settings);
    line-break: strict;
    hanging-punctuation: force-end;
    white-space: pre-wrap;
  }

  .novel-subtitle {
    font-size: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    font-weight: bold;
  }

  .novel-toc-episode {
    border-left: 1px solid var(--chapter-bk-color);
  }

  .novel-toc-items {
    list-style: none;
  }

  .novel-toc-episode-datePublished {
    display: block;
    text-align: right;
    color: black;
    text-decoration: none;
    text-orientation: sideways;
  }

  .novel-toc-episode a {
    text-decoration: none !important;
  }
}

.NovelupPlus {

  #header,
  #suggests,
  #storyEpisodeToolbar,
  #section_comment,
  #alternative_header,
  #section_suggest_list,
  #footer,
  #story_episode_toolbar,
  .storyIndexFooter,
  .goodCount,
  .commentLink,
  .content_wrapper,
  .followButtonContainer,
  .closeButton,
  .login,
  .sub_navi,
  .sns_set,
  .footer-nav,
  .scroll-top {
    display: none !important;
  }

  p {
    white-space: pre-wrap;
  }

  .episodeDate,
  .novel_author p {
    text-align: right;
  }

  .episodeDate p {
    display: inline;
  }

  .episode_list {
    ul {
      list-style: none;
      padding-inline-start: unset;
    }

    li {
      border-left: 1px solid var(--chapter-bk-color);
    }

    .chapter {
      border: none;
      padding-top: 0.8em;
      padding-right: 1.2em;
      padding-left: 1.2em;
      font-weight: bold;
      background: var(--chapter-bk-color);

      cite {
        font-style: normal;
      }
    }

    .update_date,
    .comment_link,
    p {
      text-align: right;
      white-space: normal;
    }

    .comment_link p {
      float: right;
      margin-inline-start: 2em;
    }
  }

  .episode_title h1 {
    font-size: 1em;
  }

  .novel_title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .move_set {
    display: flex;

    div {
      margin-inline-end: 2em;
    }
  }
}

/**/
@media screen and (max-width:750px),
(orientation:portrait) {
  .show-input-url .url {
    width: 90%;
  }

  .show-config .config-box-inner,
  .show-favorite .favorite-box-inner {
    margin-left: 0;
    margin-right: 0;
    height: calc(100% - 80px);
  }
}

@media screen and (min-width:900px),
(orientation:landscape) {
  .prev-episode {
    padding-right: calc(env(safe-area-inset-right) + 0.8em);
  }
}
